<ion-view align-title="center" hide-back-button="true">
  <ion-nav-title>
    Change Password
  </ion-nav-title>
  <ion-content class="has-header">
    <form name="passwordChangeForm">
      <div class="padding">        

      <label>
        <input id="password" name="password" type="password" placeholder="Password" ng-model="current_user.password" ng-minlength="8" ng-maxlength="30" required="required">
      </label>
      <div ng-messages="passwordChangeForm.password.$dirty && passwordChangeForm.password.$error">
        <div class="padding info" ng-message="required">New Password cant be blank</div>
        <div class="padding info" ng-message="minlength">Password should have minimum 8 characters</div>
      </div>

      <label>
        <input id="password_confirmation" name="passwordConfirmation" type="password" placeholder="Password Confirmation" ng-model="current_user.password_confirmation" ng-minlength="8" ng-maxlength="30" required="required">
      </label>
      <div ng-messages="passwordChangeForm.passwordConfirmation.$dirty && passwordChangeForm.passwordConfirmation.$error">
        <div class="padding info" ng-message="required">Password confirmation cant be blank</div>
        <div class="padding info" ng-message="minlength">Password should have minimum 8 characters</div>
      </div>
    </div>
    <div class="padding">
      <a class="item text-center social-btn-avionic" ui-sref-active="active" ng-click="handlePwdUpdate(passwordChangeForm.$valid)">
        Change Password
      </a>
    </div>
  </form>
</ion-content>
</ion-view>
